@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';

@import 'variables';
@import 'technology';
@import 'header';
@import 'footer';
@import 'blockquotes';
@import 'code';


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Debug purposes 

//* {
// outline: 1px solid red;
//}

// End debug purposes 
html,
body {
  height: 100%;
  background: $background;
  background-color: $background-color;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  border: 0 none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0.6em;
  margin-top: 1em;
  font-weight: bold;
}

ol,
ul {
  padding-left: 1.5em;
}

.hidden {
  display: none !important;
}

/* Placement */

body {
  background: $background;
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  padding-right: 2em;
}

.main {
  flex: 1 0 auto;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-left: 15em;
  margin-right: 15em;
}
@media (max-width: 900px) {
  .main {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .title,
  .logo {
    padding: 1em 1em 1em 0;
  }

  .title {
    min-width: 50%;
  }

  .logo {
    max-width: 30%;
  }
}
/* Typography */

body {
  line-height: 1.5rem;
  color: #040404;
}

p,
td,
th,
li,
dd {
  text-align: justify;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

img {
  max-width: 100%;
  display: block;
}

