
/* technology.scss */
$color1: #add8e6;
$color2: #f0f;
$color3: #008000;
$color4: #ffa500;
$color5: #808080;
$color6: #0ff;
$color7: #ff0;
$techbox-background-color: $code-background-color;
$rgba-techbox-background-color: rgba($techbox-background-color, 0.5);

.gallerypage {
  display: grid;
  gap: 1em;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box; 

  @media only screen and (max-width : 667px) {
    grid-gap: 5px;
    grid-template-columns: repeat(1, 1fr);

  }
}
.gallery { 
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
}

.galleryfooter {
    border-top: 1px solid $pre-border-color;
    font-size: 0.5 rem;
}
.embed-container {
    position: relative;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


   


