$palette-1: #c2953c;
$palette-2: #8f7749;
$palette-3: #f5ac1b;
$palette-4: #5c5341;
$palette-5: #33312d;

$font-color: #c2953c;
$font-alternative-color: #f5ac1b;

$background-color: #0a0a09;
$background-alternative-color: #5c5341;

$header-background-color: $background-color;
$footer-background-color: $background-color;

/* Bakgrund */
$radial-background-color: $palette-4;
$background: content-box radial-gradient($background-color, $radial-background-color);


/* Färger */
$code-background-color: $background-color;
$pre-background-color: $background-color;
$code-border-color: #f5ac1b;
$pre-border-color: #f5ac1b;
$a-color: $font-alternative-color;
