/* Header */
.header {
  flex: 0 0 auto;
}

.header,
.site-header {
  display: flex;
  justify-content: space-between;
}


/* Title */

.title,
.logo {
  padding: 3em 3em 1em 0;
  max-width: 300px;
}

.title * {
  color: #011e17;

  p {
    font-style: italic;
  }
}
