{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <div class="main" role="main">
        <div class="technologypage"</div>
        <div class="sidebar">
            <ul>
            {% for page in pages("technology") if page.title and not page.hidden %}
                <li{% if page.id==current_page.id %} class="active" {% endif %}>
                    <a href="{{ page.url }}">{{ page.title }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="technology">
            {{ content }}
        </div>
        </div>
    </div>
    {% include 'incl/footer.twig' %}
</body>

</html>
